<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caffeine.demo.mapper.GoodsMapper">

	<select id="selectOneGoods" parameterType="long" resultType="com.caffeine.demo.pojo.Goods">
        select * from goods where goodsId=#{goodsId}
    </select>

    <select id="selectAllGoods" resultType="com.caffeine.demo.pojo.Goods">
        select * from goods order by goodsId desc
	</select>
</mapper>